파일 업로드

<div id="pre_set" style="display:none; width:100px;">
        <input type="image" value="" style="width:100px ; float:left;" src="/stylesheets/member.PNG">
        <input type="button" value="삭제" style="width:50px; float:left;" onclick="remove_item(this)">
</div>
<div id="field"></div>
<input type="image" value="" style="width:100px" src="/stylesheets/memberAdd.PNG" onclick="toUpload()"><br>
