스케줄 관리
<link href="/stylesheets/calendar.css" rel="stylesheet">
<table id="calendar">
        <tr>
            <td><input type="button" value="&lt" onclick="prevCalendar()"></td>
            <td id="tbCalendarYM" colspan="5" style="text-align:center">yyyy년 m월</td>
            <td><input type="button" value="&gt" onclick="nextCalendar()"></td>
        </tr>
        <tr>
            <td>일</td>
            <td>월</td>
            <td>화</td>
            <td>수</td>
            <td>목</td>
            <td>금</td>
            <td>토</td>
        </tr>
</table>
<script type="text/javascript" src="/javascripts/calendar.js"></script>