<div id="voteWin" class="div_root">
        <div id="voteList" class="voteListFrame">
            <p class="voteTitle"> 투표 목록 </p>
            <button type="button" class="project_btn" onclick="toSubmitProject()">추가</button>
            <div id="vote1" class="voteList"> ● Vote_01 </div>
            <div id="vote2" class="voteList"> ● Vote_02 </div>
            <div id="vote3" class="voteList"> ● Vote_03 </div>
        </div>
        <div id="voteRes" class="voteResFrame">
                <div id="resultFrame" class="resFrame">
                     <div id="container" style="min-width: 500px; height: 450px;"></div>
               </div>
        </div>
    </div>
