<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>team++_File</title>
	 <link href="css/bootstrap.css" rel="stylesheet">
	 <link href ="css/site.css" rel="stylesheet">
		<link href="css/main.css" rel="stylesheet">
</head>
 <body>
<div id="pre_set" style="display:none; width:100px;">
	<input type="image" value="" style="width:100px ; float:left;" src="/stylesheets/member.PNG">
	<input type="button" value="삭제" style="width:50px; float:left;" onclick="remove_item(this)">
</div>

<div id="field"></div>

<input type="image" value="" style="width:100px" src="/stylesheets/memberAdd.PNG" onclick="pop();add_item()"><br>

	 <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	 <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
	 <script type="text/javascript" src="js/bootstrap.min.js"></script>
	 <script type="text/javascript" src="js/main.js"></script>
	 <script type="text/javascript" src="/javascripts/test.js"></script>
 </body>
</html>
