.wrapper_main{
position:relative;
height:505px;
width:1600px;
}
.wrapper_left{
position: relative;
float:left;
height:500px;
width:290px;
}
.wrapper_right{
position: relative;
float:right;
height:500px;
width:1300px;
}
.wrapper_bottom{
  position:relative;
  height:260px;
  width:1600px;
}
.img_logo{
  position: relative;
  float:left;
  height:160px;
  width:280px;
  margin-right:2px;
  margin-left: 10px;
}
.project_btn {
  position: relative;
  float:right;
  display: inline-block;
  width: 90px;
  font-size: 12px;
  color: white;
  background-color: rgb(182, 102, 219);
  margin-top: 2px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.menu_btn {
  position: relative;
  float:right;
  display: inline-block;
  width: 250px;
  height:100px;
  font-size: 20px;
  margin-bottom:10px;
  color: white;
  background-color: rgb(182, 102, 219);
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.sub_btn {
  position: relative;
  float:right;
  display: inline-block;
  width: 150px;
  height:50px;
  font-size: 15px;
  color: white;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}
.menu_main {
 position: relative;
 margin-left: 10px;
 width: 260px;
}
.tab_main {
    position: relative;
    z-index: 1;
	  height:470px;
    float:right;
    width: 99%;
    margin-top: 5px;
    margin-left: 10px;
    border-top:2px solid rgb(182, 102, 219);
    border-right:2px solid rgb(182, 102, 219);
    border-left:2px solid rgb(182, 102, 219);
    border-bottom:2px solid rgb(182, 102, 219);
}
.check_main {
 position: relative;
 z-index: 1;
 height:260px;
 width:22%;
 float:left;
 border-top:2px solid rgb(182, 102, 219);
 border-right:2px solid rgb(182, 102, 219);
 border-left:2px solid rgb(182, 102, 219);
 border-bottom:2px solid rgb(182, 102, 219);
}
.notice_main {
  position: relative;
  z-index: 1;
  height:260px;
  width:77%;
  float:right;
  border-top:2px solid rgb(182, 102, 219);
  border-right:2px solid rgb(182, 102, 219);
  border-left:2px solid rgb(182, 102, 219);
  border-bottom:2px solid rgb(182, 102, 219);
}
 #container {
    width: 249px;
    margin: 0 auto;
}
#sidebar{
float:left;
}
ul{
list-style:none;
 margin:0px;
 padding:0px;
position:relative;
text-align:center;
}
ul li button{
text-decoration:none;
display:block;
z-index: 2;
width:100px;
height: 49px;
line-height:35px;
color:white;
background-color:rgb(100, 100, 100);
}
li{
}
ul button:hover {
background-color:rgb(182, 102, 219);
}
ul ul{
display:none;
position:absolute;
 left: 260px;
}
ul li:hover > ul {
display:block;
}
