.team_btn01 {
  position: relative;
  float:left;
  display: inline-block;
  color: white;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-right:5%;
  margin-top:2%;
  margin-left:2%;
}
.team_btn02 {
 position: relative;
  margin-right:5%;
  margin-top:2%;
  margin-left:2%;
}
