<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>team++_main</title>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link href="/stylesheet/mainframe.css" rel="stylesheet">
</head>
 <body>
		<div class="main" id="sidebar">
			<img src="/stylesheets/Tppimage.png"></img><p>
<ul>
  <li><a href="#"><button type="button" class="btn" >Project<p> Manager</button><p></a>
 <ul>
		<li><a href="3">sub menu1_1</a></li>
		<li><a href="3">sub menu1_2</a></li>
		<li><a href="3">sub menu1_3</a></li>
 </ul>
</li>
  <li><a href="#"><button type="button" class="btn" >Schedule<p> Manager</button><p></a>
    <ul>
       <li><a href="3">sub menu2_1</a></li>
       <li><a href="3">sub menu2_2</a></li>
       <li><a href="3">sub menu2_3</a></li>
    </ul>
  </li>
  <li><a href="#"><button type="button" class="btn" >Project<p> Manager</button><p></a>
 <ul>
		<li><a href="3">sub menu3_1</a></li>
		<li><a href="3">sub menu3_2</a></li>
		<li><a href="3">sub menu3_33</a></li>
 </ul>
</li>
</ul>
		<div class="btn_position">
   	<button type="button" class="change_project" >변경</button><p>
		</div>
		<div class = "tab_main">

		</div>
		<div class = "check_main">

		</div>
		<div class = "notice_main">

		</div>


	 <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	 <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
	 <script type="text/javascript" src="/javascript/mainframe.js"></script>
 </body>
</html>
