<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>team++_main</title>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link href="/stylesheets/mainframe.css" rel="stylesheet">
	<script src="/javascripts/changePage.js"></script>
</head>
 <body>

<div class="wrapper_main">
	<div class="wrapper_left">
		<img class="img_logo" src="/stylesheets/Tppimage.png"></img>

		<div class="menu_main" id="sidebar">
<ul>
<li><button href="#" class="menu_btn"> Project<p> Manager<p></button>
<ul>
	<li><button href="/manageVerRe" class="sub_btn" onclick="manageVerRe()">버전 관리</button></li>
	<li><button href="/fileupRe" class="sub_btn" onclick="fileupRe()">파일 업로드</button></li>
	<li><button href="/voteRe" class="sub_btn" onclick="voteRe()">투표</button></li>
</ul>
</li>
<li><button href="/scheduleManageRe" class="menu_btn" onclick="scheduleManageRe()">Schedule<p> Manager<p></button></li>
<li><button href="#" class="menu_btn">Project<p> Manager<p></button></li>
</ul>
		</div>
	</div>

	<div class="wrapper_right">
		<button type="button" class="project_btn" onclick="toSubmitProject()" >변경</button>
		<div class = "tab_main">
				<% if(chk=='0'){ %>
					안녕하세요 <%= name %>님
				<% } %>
				<% if(chk =='1'){ %>
					<% include ../partials/manageVer.ejs %>
				<% } else if(chk=='2'){ %>
					<% include ../partials/fileUp.ejs %>
				<% } else if(chk=='3') { %>
					<% include ../partials/voteWin.ejs %>
				<% } else if(chk=='4') { %>
					<% include ../partials/scheduleManage.ejs %>
				<% } %>
		</div>
	</div>
</div>



<div class="wrapper_bottom">
		<div class = "check_main">
				<% include ../partials/checkWin.ejs %>
		</div>
		<div class = "notice_main">
				<% include ../partials/noticeWin.ejs %>
		</div>
</div>

	 <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	 <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
	 <script type="text/javascript" src="/javascript/mainframe.js"></script>
 </body>
</html>
