<!DOCTYPE html>
<html lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>selectMember</title>
 <link  href="/stylesheets/popup_Exile.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <style>
    input[type="radio"]{
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      position: absolute; left: 170px;
    }
    </style>
</head>
<body>
  <style>p.indent{padding-left: 13.0em}</style>
  <form class="main_exile" id="logInform">

      <div id="titleName" class="title_exile">
        멤버 선택
        </div>
        <div id="selectMember" class="field_exile">
            <label style="text-align: left  border-right:1px solid rgb(182, 102, 219)
             border-left:1px solid rgb(182, 102, 219);">
              <input type="radio" name="check vote" value="exile member1"><p class="indent"> member1</p><br>
              <input type="radio" name="check vote" value="exile member2"><p class="indent"> member2</p><br>
              <input type="radio" name="check vote" value="exile member3"><p class="indent"> member3</p><br>
              <input type="radio" name="check vote" value="exile member4"><p class="indent"> member4</p>
            </label>
        </div>
      <div id="bottom" class="formBottom_exile">
          <input type="submit" value="완료" onclick="javascript:self.close();" class="Button_exile"> 
          <input type="button" value="취소" onclick="javascript:self.close();" class="Button_exile">
      </div>
  </form>

  <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
  <script src="./Team++_files/jquery.min.js.다운로드"></script>
  <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
  <script src="file:///C:/Users/lynev/Desktop/%EC%8F%98%EA%B3%B5/%EC%83%88%20%ED%8F%B4%EB%8D%94/%EC%83%88%20%ED%8F%B4%EB%8D%94/bootstrap.min.js"></script>
</body>
</html>
