<!DOCTYPE html>

<html lang="ko">

<head>

  <meta http-equiv="Content-Type" content="t ext/html; charset=utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>sourceUpload</title>

  <!-- <script type="javascript" src="popup.js"></script> -->

  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <link  href="/stylesheets/popup_Upload.css" rel="stylesheet" type="text/css">

</head>

<body>

  <form class="main_Upload" id="logInform" action="upload/create" method = "post"

  enctype ="multipart/form-data">



      <div id="titleName" class="title_Upload">File Upload</div>



      <div class="field_Upload">

        <input type="file" id="uploadFile">

      </div>

      <div id="bottom" class="formBottom_Upload">

          <input type="submit" value="Submit" onclick="javascript:self.close();" class="Button_Upload">

      </div>

  </form>


  <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
  <script src="file:///C:/Users/lynev/Desktop/%EC%8F%98%EA%B3%B5/%EC%83%88%20%ED%8F%B4%EB%8D%94/%EC%83%88%20%ED%8F%B4%EB%8D%94/bootstrap.min.js"></script>
</body>
</html>