<!DOCTYPE html>
<html lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Register</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
 <link  href="/stylesheets/popup_proj.css" rel="stylesheet" type="text/css">
 <script>
     function setProjname(){
         opener.document.getElementById("Projname").value=document.getElementById("projname").value;
         opener.cnt=opener.cnt+1;
         opener.logInform.submit();
         window.close();
     }
 </script>
</head>
<body>
  <form class="logIn1" id="logInform">
      <div id="leftU" class="leftUp">
          <div id="leftUp" style="height:50%"></div>
          <div id="leftDown" style="height:50%; border-left:1px solid rgb(182, 102, 219); border-top:1px solid rgb(182, 102, 219)"></div>
      </div>
      <div id="rightU" class="rightUp">
          <div id="rightUp" style="height:50%"></div>
          <div id="rightDown" style="height:50%; border-top:1px solid rgb(182, 102, 219); border-right:1px solid rgb(182, 102, 219)"></div>
      </div>
      <div id="titleName" class="title">
        New Project
      </div>
      <div id="nameField" class="field">
        <span style="float:right">
            <label style="text-align: right"> Project name
              <input type="text" id="projname" class="logInInput" placeholder="15자 내외" name="Project_name" size="15" required>
            </label>
        </span>
      </div>
      <div id="bottom" class="formBottom">
          <input type="submit" value="생성" onclick="setProjname()" class="logInButton">  
          <input type="button" value="취소" onclick="javascript:window.close();" class="logInButton">
      </div>
  </form>
  <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->

  <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</body>
</html>