<!DOCTYPE html>

<html lang="ko">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>addWork</title>

  <link  href="/stylesheets/popup_work.css" rel="stylesheet" type="text/css">

 <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <style>

    input[type="radio"]{

      -webkit-transform: scale(1.5);

      transform: scale(1.5);

    }

    </style>

</head>

<body>

  <form class="workFrame" id="workFrame" >

      <div id="titleName" class="title_Work">일감 생성</div>

        <div id="nameField" class="field_Work">

          <span style="float:right">

              <label style="text-align: right; margin-left: 15%"> Work name

                <input type="text" class="Input_Work" name="Work name" maxlength="15">

              </label>

              <label style="text-align: right; margin-left: 15%"> &nbsp; &nbsp; Due date

                <input type="text" class="Input_Work" placeholder="YYMMDD" name="due date" maxlength="6">

              </label>

          </span>

        </div>

        <div id="selectWork" class="field_Work">

          <span style="float:right">

            <label style="text-align: left; margin-top: -1px; vertical-align: middle">

              <input type="radio" name="check vote" value="member1"> member1 <br>

              <input type="radio" name="check vote" value="member2"> member2

            </label>

          </span>

        </div>

      <div id="bottom" class="formBottom_Work">

          <input type="submit" value="생성" onclick="javascript:window.close();" class="Button_Work">

          <input type="button" value="취소" onclick="javascript:window.close();" class="Button_Work">

      </div>

  </form>

  <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->



  <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->

  <script src="file:///C:/Users/lynev/Desktop/%EC%8F%98%EA%B3%B5/%EC%83%88%20%ED%8F%B4%EB%8D%94/%EC%83%88%20%ED%8F%B4%EB%8D%94/bootstrap.min.js"></script>

</body>

</html>