<!DOCTYPE html>
<html lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Register</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
 <link  href="/stylesheets/popup_Pro.css" rel="stylesheet" type="text/css">
</head>
<body>
  <form class="main_Pro" id="logInform" method ="POST" action = '/popupPro'>

      <div id="titleName" class="title_Pro">New Project</div>

      <div id="nameField" class="field_Pro">
        <span style="float:right">
            <label style="text-align: right"> Project name
              <input type="text" class="Input_Pro" placeholder="15자 내외" name="Project_name" size="15">
            </label>
        </span>
      </div>

      <div id="bottom" class="formBottom_Pro">
          <input type="submit" value="생성" onclick="javascript:window.close();" class="Button_Pro">  
          <input type="button" value="취소" onclick="javascript:self.close();" class="Button_Pro">
      </div>
  </form>

  <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
  <script src="./Team++_files/jquery.min.js.다운로드"></script>
  <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
  <script src="file:///C:/Users/lynev/Desktop/%EC%8F%98%EA%B3%B5/%EC%83%88%20%ED%8F%B4%EB%8D%94/%EC%83%88%20%ED%8F%B4%EB%8D%94/bootstrap.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</body>
</html>
