<!DOCTYPE html>
<html lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>selectProject</title>
 <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link  href="/stylesheets/project.css" rel="stylesheet" type="text/css">
<script src="/javascripts/changePage.js"></script>

</head>
<body>
  <form class="logIn1" id="logInform" action="/popup_projRe">
      <div id="leftU" class="leftUp">
          <div id="leftUp" style="height:50%"></div>
          <div id="leftDown" style="height:50%; border-left:1px solid rgb(182, 102, 219); border-top:1px solid rgb(182, 102, 219)"></div>
      </div>
      <img src="/stylesheets/Tppimage.png" width="228px" height = "130px">
      <!--<div id="logInTitle" class="logInTitleImage"></div>-->
      <div id="rightU" class="rightUp">
          <div id="rightUp" style="height:50%"></div>
          <div id="rightDown" style="height:50%; border-top:1px solid rgb(182, 102, 219); border-right:1px solid rgb(182, 102, 219)"></div>
      </div>
      <div class="formProject">
            <%= name %>님 진행할 프로젝트를 골라주세요
      </div>
        <div id="project_${i}" class="formProject">
                <input type="button" id="Projname" value="test1" onmouseout="change2(this)" onmouseover="change1(this)" class="projectButton" onclick = "select_proj1()">
        </div>
      <div id="bottom" class="formBottom">
          <input type="button" value="생성" class="logInButton" onclick = "popup_project()">  
      </div>
  </form>

  <script language="JavaScript">
      function change1(obj){
          obj.style.background = '#B666DB';
          obj.style.color = 'white';
      }
      function change2(obj){
          obj.style.background = '#CCCCCC';
          obj.style.color = 'black';
      }
  </script>

  <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->

  <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</body>

</html>